{% extends "base.html" %}

{% block body %}
<div class="container mt-5 col-4 card bg-light p-5">
    <h2 class="text-dark text-center">Change Password</h2>
    {% if messages %}
        <div id="alert-container" class="alert alert-info" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>

        <script>
            // Add a script to automatically dismiss the alert after 2000 milliseconds (2 seconds)
            setTimeout(function() {
                document.getElementById('alert-container').style.display = 'none';
            }, 5000);
        </script>
    {% endif %}

   
    
        <form method="POST" action="">
            {% csrf_token %}

            <label for="username">Username</label>
            <div class="form-group">
                <input type="text" class="form-control p-2" id="username" name="username" required>
            </div>

            <label for="password">Change Password</label>
            <div class="form-group">
                <input type="password" class="form-control p-2" id="password" name="pass1" required>
            </div>

            <label for="password">Conform Password</label>
            <div class="form-group">
                <input type="password" class="form-control p-2" id="password" name="pass2" required>
            </div>



        
            <br>
           

            <button type="submit" class="btn btn-dark" >Update Password</button>
            
        </form>
   


</div>

{% endblock body %}


